@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/autoplay";

html,
body {
  color-scheme: dark;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #1447e6 #020618;
  scroll-behavior: smooth;
}
