---
const { name, review, stars } = Astro.props;
import Star from "./icons/Star.astro";
---

<article
  class="bg-white text-black flex flex-col justify-start p-6 rounded-xl shadow min-w-[320px] min-h-[260px] max-w-[320px] flex-shrink-0"
>
  <div class="flex flex-col gap-1 mb-4">
    <cite class="mt-4 font-semibold text-blue-800">- {name}</cite>
    <div class="flex items-center mt-2">
      {
        Array.from({ length: stars }).map((_, index) => (
          <Star class="text-yellow-500" />
        ))
      }
    </div>
  </div>
  <blockquote class="italic">"{review}"</blockquote>
</article>
