---
const navItems = [
  { id: "/", text: "Inicio" },
  { id: "/#info", text: "Información" },
  { id: "/#tools", text: "Herramientas" },
  { id: "/#reviews", text: "Reseñas" },
  { id: "/#contact", text: "Contacto" },
];
---

<header class="bg-blue-900 text-white shadow-md sticky top-0 z-20">
  <nav class="max-w-7xl mx-auto flex justify-center items-center">
    <ul class="flex text-xs sm:text-base w-full sm:w-fit">
      {
        navItems.map((item) => (
          <li class="w-full sm:w-fit">
            <a
              href={`${item.id}`}
              class="hover:bg-blue-950/50 flex justify-center flex-1 sm:block transition-all duration-300 hover:shadow-[inset_0_0_50px_1px_#0059] px-1.5 sm:px-4 py-4"
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
