---
import SectionContainer from "../components/SectionContainer.astro";
import Review from "../components/Review.astro";
import Title from "../components/Title.astro";
import { REVIEWS } from "../libs/reviews-constants.js";
---

<SectionContainer id="reviews" className="!px-0 sm:px-4">
  <Title>Reseñas</Title>

  <div
    class="relative overflow-hidden [mask-image:linear-gradient(to_right,transparent_0%,black_10%,black_90%,transparent_100%)]"
  >
    <swiper-container
      id="reviews-swiper"
      slides-per-view="auto"
      space-between="24"
      loop="true"
      free-mode="true"
      grab-cursor="true"
      autoplay-delay="0"
      autoplay-disable-on-interaction="false"
      autoplay-pause-on-mouse-enter="false"
      speed="8000"
    >
      {
        REVIEWS.map((review) => (
          <swiper-slide class="!w-auto">
            <Review {...review} />
          </swiper-slide>
        ))
      }
    </swiper-container>
  </div>
</SectionContainer>

<script>
  import { register } from "swiper/element/bundle";
  import "swiper/css";
  import "swiper/css/free-mode";
  import "swiper/css/autoplay";

  register();

  window.addEventListener("DOMContentLoaded", () => {
    const swiperEl = document.getElementById("reviews-swiper") as any;

    swiperEl.initialize();
  });
</script>
