---
import "swiper/element/bundle";
import "swiper/swiper-bundle.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AlquiRap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta
      name="keywords"
      content='alquiler de herramientas, alquiler maquinaria, alquiler herramientas Coronel Suárez, Alquirap, andamios tubulares, hormigonera, martillo demoledor Bosch, rotopercutor Bosch, cortacerco, amoladora 7", generador 7.5 kva, ingletadora, atornillador, hidrolavadora, termofusora, motosierra, carretilla, escalera, alquiler por día, alquiler por semana, alquiler por mes, alquiler herramientas profesionales'
    />

    <meta
      name="description"
      content="Alquirap ofrece alquiler de herramientas y maquinaria en Coronel Suárez. Andamios, hormigoneras, martillos demoledores y más, con opciones por día, semana o mes. Servicio rápido y confiable."
    />
    <meta name="author" content="Alfredo J. Scialabba" />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://alquirap.vercel.app/" />
    <meta property="og:title" content="AlquiRap" />
    <meta
      property="og:description"
      content="Alquirap ofrece alquiler de herramientas y maquinaria en Coronel Suárez. Andamios, hormigoneras, martillos demoledores y más, con opciones por día, semana o mes. Servicio rápido y confiable."
    />
    <meta property="og:image" content="/favicon.svg" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://alquirap.vercel.app/" />
    <meta name="twitter:title" content="AlquiRap" />
    <meta
      name="twitter:description"
      content="Alquirap ofrece alquiler de herramientas y maquinaria en Coronel Suárez. Andamios, hormigoneras, martillos demoledores y más, con opciones por día, semana o mes. Servicio rápido y confiable."
    />
    <meta name="twitter:image" content="/favicon.svg" />

    <meta name="theme-color" content="#1447e6" />
    <link rel="canonical" href="https://alquirap.vercel.app/" />
  </head>
  <body>
    <div class="fixed -z-10 min-h-screen w-full bg-slate-950">
      <div
        class="absolute -z-10 bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <slot />
  </body>
</html>
